.mainContent{
  display: flex;
  justify-content: center;
}

.mainContent span{
  font-weight: 200;
  font-size: 0.5em;
}

.areaLogin{
 display: flex;
 flex-direction: column;
 max-width: var(--max-width);
 margin: auto;
 gap: var(--gaps);
 margin-top: 1em;
}

.areaLogin a{
  display: flex;
  justify-content: center;
  color: var(--color-purple);
  font-size: 0.8em;
}

.areaLogin form{
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: var(--gaps)
}

.areaLogin form label {
  display: flex;
  justify-content: center;
  font-size: var(--font-size);
  font-weight: 500;
}

.areaLogin input{
  border-radius: var(--border-radius-input);
  border: none;
  background-color: white;
  padding: 6px 20px;
  font-size: var(--font-size);
  box-shadow: var(--box-shadow-inputs);
}

.areaLogin button{
  background: var(--background-button);
  border: none;
  font-size: var(--font-size);
  padding: 6px;
  border-radius: var(--border-radius-input);
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  box-shadow: var(--box-shadow-buttons-purple);
}

.logoHome{
  margin: auto;
  display: block;
  padding-top: 3em;
}
